			#container
			{
				width: 251px;
				height: 185px;
				position: relative;
			}
			#content div
			{
				display: none;
			}
			#content .on
			{
				display: block;
				cursor: pointer;
			}
			#tabs
			{
				height: 19px;
				position: absolute;
				bottom: 5px;
				right: 5px;
				margin: 0;
				padding: 0;
			}
			#tabs li
			{	
				width: 19px;
				height: 19px;
				background: black;
				float: left;
				color: white;
				list-style: none;
				font-family: Î¢ÈíÑÅºÚ;
				margin-right: 5px;
				text-align: center;
				cursor: pointer;
			}
			#tabs .on
			{
				background: blue;
			}
			#arrow
			{
				position: absolute;
				bottom: 5px;
				left: 5px;
			}
			#arrow span
			{
				display:block;
				float:left;
				width: 19px;
				height: 19px;
				background: black;
				color: white;
				margin-right: 5px;
				text-align: center;
				cursor:pointer;
			}